*{
    color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

button{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 12px;
    border: 1px solid #000000;
    background-color: #000000;
    padding: 10px;
}

h1{
    font-size: 40px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px; /* Espaciado interno del texto */
    text-align: center;
    margin-top: 20px;
}

h2{
    text-align: center;
    padding: 20px;
}

a{
    text-decoration: none;
}

.btn{
    background-color: #ff6200e2;
    color: #FFFFFF;
    
}

/* Menu Navbar en header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #393b4348;
}

header #btn_menu{
    display: none;
}

header label{
    display: none;
}

header label:hover{
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li a:hover{
    text-decoration: underline;
}

/* Footer */

footer{
    background-color: #393b4348;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

footer ul{
    
    list-style: none;
    padding: 20px 100px;
}

footer ul li{
    margin-bottom: 5px;
}

footer ul li a:hover{
    text-decoration: underline;
}

footer section{
    display: flex;
    flex-wrap: wrap;
}

footer section a{
    display: flex;
    gap: 10px;
}

footer a img{
    width: 28px;
    height: 28px;
}

.btn-language{
    margin: 0 100px;
    border-radius: 8px;
    font-size: 20px;
    background-color: #ff6200e2;
    padding: 15px 10px 0 10px;
    height: min-content;
    align-self: center;
}

/* Banner de imagen con titulo adentro */

.banner{
    height: 250px;
    background-image: url(./../assets/bg-image.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-project, .title-empresa {
    display: block;
    text-align: center;
}

.title-project{
    color: orange;
    margin-bottom: 10px;
}

.title-empresa{
    color: white;
}

.buttons-banner{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Cards */

.cards-prog {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    margin: 60px 0;
}

.card {
    max-width: 350px;
    gap: 20px;
    background-color: #393b4348;
    border-radius: 20px;
    border: 1px solid #000000;
    overflow: hidden;
}

.card-body{
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
}

.card-title{
    padding: 0;
    color: #FFFFFF;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

/* Pricing */
/* Cards Pricing */

.cards-price {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    margin: 60px 0;
}

.card-text-pricing {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

.pricing-name{
    color: #FF8C42;
}

.price-mount{
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
}

.pricing-list{
    align-self: center;
    margin-top: 15px;
}

.pricing-btn{
    margin-top: 15px;
}

/* Docs */
/* Mini banner */

.mini-banner{
    height: 320px;
    background-image: url(./../assets/bg-image-minibanner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    font-size: 28px;
}

/* Iconos */

.discover{
    padding: 0 40px 30px 40px;
    border: 1px solid #b7b9bd7c;
    align-items: center;
}

.discover p{
    margin-bottom: 20px;
    text-align: center;
}

.icons-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.icons-flex img{
    width: 32px;
    height: 32px;
}

.icon-style{
    border: 1px solid #FFFFFF;
    padding: 15px;
    background-color: #393b4348;
    align-self: center;
}

/* Cards Docs */

.products-docs{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card-docs{
    max-width: 300px;
    height: 250px;
    background-color: #393b4348;
    border-radius: 20px;
    border: 1px solid #000000;
    overflow: hidden;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.card-content img{
    width: 60px;
    align-content: center;
    margin-top: 15px;
}

/* Blog */

.blog-lorem{
    padding: 20px 40px;
    border: 1px solid #b7b9bd7c;
    width: 80%;
    margin: 50px 0;
    box-shadow: -7px -1px 40px 8px rgba(224,224,224,0.51);
    -webkit-box-shadow: -7px -1px 40px 8px rgba(224,224,224,0.51);
    -moz-box-shadow: -7px -1px 40px 8px rgba(224,224,224,0.51);
    background-image: url(./../assets/wave.svg);
    background-size: cover;
}

.documentation{
    text-align: -webkit-center;
}

/* Contact */

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: url(./../assets/wave2.svg);
    background-size: cover;
}

.contact-socials{
    /* display: flex;
    flex-wrap: wrap; */
    padding: 0 80px;
}

.social-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    height: 60px;
}

.contact-field{
    margin-bottom: 30px;
}

.contact-field label{
    display: block;
    margin-bottom: 20px;
    
}

.contact-field input{
    height: 35px;
    max-width: 380px;
    width: 80vw;
}

.contact-field textarea{
    max-width: 380px;
    width: 80vw;
}

.form-control::placeholder{
    color: #b4b0b0;
}

/* Media queries */
@media screen and (max-width: 768px){

    h1{
        font-size: 34px;
    }

    button{
        font-size: 15px;
    }

    /* Header */
    
    header label{
        display: block;
    }

    header label img{
        width: 50px;
    }

    .menu{
        position: absolute;
        background-color: #181818;
        top: 94px;
        visibility: hidden;
        width: 97vw;
        justify-content: center;
        z-index: 1;
        border-radius: 0 0 15px 15px;
    }

    .menu ul{
        flex-direction: column;
    }

    #btn_menu:checked~.menu{
        visibility: visible;
    }

    /* Footer */

    footer ul{
        padding: 20px
    }

    /* Pricing */

    .cards-price{
        padding: 0 20px;
    }

    /* Docs */
    /* Mini banner */

    .subtitle{
        font-size: 22px;
    }

    /* Contactanos */
    /* Iconos */

    .contact-socials{
        padding: 0;
    }
    
}