/* Blog */

.main-blog{
    .documentation{
        text-align: -webkit-center;
        .mini-banner{
            height: 320px;
            background-image: url(./../assets/bg-image-minibanner.jpg);
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                background-color: transparent;
            }
        }
        .blog-lorem{
            display: grid;
            padding: 20px 40px; 
            width: 75%;
            margin: 50px auto;
            background-image: url(./../assets/wave.svg);
            background-size: cover;
            justify-content: center;
            transition: 1s;
            /* border: 1px solid #0000007c; */
            &:hover{
                /* border: 1px solid #0000007c; */
                box-shadow: -7px -1px 40px 8px rgba(224,224,224,0.51);
                -webkit-box-shadow: -7px -1px 40px 8px rgba(224,224,224,0.51);
                -moz-box-shadow: -7px -1px 40px 8px rgba(224,224,224,0.51);
            }
        }
    }
}