
/* Menu Navbar en header */

header{
    padding: 15px;
    background-color: nth($list: $colores, $n: 6);
    a{
        
        img{
            &:hover{
                transform: rotate(360deg);
                transition: 4s;
            }
        }
    }

    #btn_menu{
        display: none;
    }

    label{
        display: none;

        &:hover{
            cursor: pointer;
        }
    }
    .navbar {
        .container-fluid{
            display: flex;
            gap: 50px;
            .navbar-toggler{
                margin-bottom: 10px;
                color: transparent;
                    .navbar-toggler-icon{
                        background-image: url("./../../assets/hamburger-menu.svg");
                        width: 2.5em;
                        height: 2.5em;
                    }  
            }
            .navbar-collapse{
                text-align: end;
                padding-right: 18px;
            }
            div{
                ul{
                    list-style: none;
                    display: flex;
                    gap: 30px;
                    li{
                        .active{
                            color: nth($list: $colores, $n: 9);
                        }
                        a{
                            text-transform: uppercase;
                            &:hover{
                                text-decoration: underline;
                            }
                        } 
                    }
                }
            }
        }
    }    
}

.menu{
    display: flex;
    align-items: center;
}

